* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 5px 1px #00000045;
}
header div {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  color: #5ab1ef;
  font-size: 18px;
}
ul {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
li button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
}
main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
p {
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-size: 60px;
}
span {
  color: #5ab1ef;
}
main button {
  cursor: pointer;
  background: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  margin-top: 20px;
}
main button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}
