/* reset css */
* {
  padding: 0;
  margin: 0;
}

/* styles */
body {
  background-color: #eee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

#count {
  font-size: 90px;
  font-weight: bold;
  margin: 10px 0;
}

.btns button {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 7px;
  padding: 5px 10px;
  margin: 0 5px;
}

.btns button:hover {
  background-color: black;
  color: white;
  transition:
    background-color 1s,
    color 1s;
}
